/* CSS declarations go here */
body {
  font-family: "Roboto", sans-serif;
}

.jumbotron {
  background: #2760aa;
  color: #eee;
}

.alert {
  position: absolute;
  width: 90%;
  top: 120px;
  left: 0px;
  margin: 5%;
  z-index: 1000;
}

.btn-workArea-option {
  background: #d5d8dc;
  border-width: 2px;
  width: 300px;
  height: 150px;
  margin: 10px;
  display: inline-block;
}
